<div class="about-component">
    <div class="section">
        <div class="title">
            <h5>About me</h5></div>
            <div class="content-section">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea vitae veniam labore nostrum ratione culpa pariatur quisquam illum repellendus nobis, voluptas molestiae repellat mollitia iste. Dolore beatae excepturi obcaecati tempore.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea vitae veniam labore nostrum ratione culpa pariatur quisquam illum repellendus nobis, voluptas molestiae repellat mollitia iste. Dolore beatae excepturi obcaecati tempore.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea vitae veniam labore nostrum ratione culpa pariatur quisquam illum repellendus nobis, voluptas molestiae repellat mollitia iste. Dolore beatae excepturi obcaecati tempore.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea vitae veniam labore nostrum ratione culpa pariatur quisquam illum repellendus nobis, voluptas molestiae repellat mollitia iste. Dolore beatae excepturi obcaecati tempore.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea vitae veniam labore nostrum ratione culpa pariatur quisquam illum repellendus nobis, voluptas molestiae repellat mollitia iste. Dolore beatae excepturi obcaecati tempore.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea vitae veniam labore nostrum ratione culpa pariatur quisquam illum repellendus nobis, voluptas molestiae repellat mollitia iste. Dolore beatae excepturi obcaecati tempore.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea vitae veniam labore nostrum ratione culpa pariatur quisquam illum repellendus nobis, voluptas molestiae repellat mollitia iste. Dolore beatae excepturi obcaecati tempore.
                </p>
        </div>
        </div>


        <div class="section">
            <div class="title">
                <h5 class="sub-heading1">Tools</h5>
                <h5 class="sub-heading2">& Tech</h5>
            </div>
                <div class="content-section">
                    <div class="list">
                        <span>Adobe XD</span>
                        <span>Figma</span>
                        <span>Photoshop</span>
                        <span>Illustrator</span>
                        <span>After effects</span>
                        <span>Dimension</span>
                        <span>Affinity photo</span>
                        <span>Affinity design</span>
                        <span>Spline</span>
                        <span>Framer</span>
                        <span>Zeplin</span>
                        <span>HTML</span>
                        <span>CSS, SCSS</span>
                        <span>JS, ES6</span>
                        <span>GSAP</span>
                        <span>Webflow</span>
                        <span>Framer motion</span>
                        <span>Reactjs</span>
                        <span>Gatsbyjs</span>
                        <span>Sanity.io</span>
                        <span>Contentful</span>
                        <span>WordPress</span>
                        <span>Shopify</span>
                    </div>
            </div>
            </div>
    
    
   

</div>

