<div class="home-component">
    <div class="top-section">
    <div class="background-circle">
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="circle-3"></div>
    </div>
    <div class="header">
        <div class="menu-options">
            <ul>
                <li [ngClass]="activeMenu==='home' ? 'active' : ''" (click)="changeMenu('home')">Home</li>
                <li [ngClass]="activeMenu==='about' ? 'active' : ''" (click)="changeMenu('about')">About Me</li>
                <li [ngClass]="activeMenu==='contact' ? 'active' : ''" (click)="changeMenu('contact')">Contact</li>
            </ul>
        </div>    
    </div>
    <div class="social-icons">
        <div class="linkedin"><i class="fab fa-linkedin"></i></div>
        <div class="envelope"><i class="far fa-envelope"></i></div>
    </div>
    <div class="profile-title">
        <p>Aditi Singh</p>
        <p>Solution Designer</p>
        <p>Fullstack developer</p>
    </div>
</div>
    <app-about></app-about>
</div>
